
table thead tr th {
    border: solid black  ;
    background-color: rgb(95, 0, 116);
    font-size:20px;
    padding: 10px 50px 10px;
    font-size: 16px;
    border-spacing: 10px;

}

body{
    background-color: rgba(229, 76, 229, 0.379);
}