*{
    background-color: aquamarine;
}

.btn{
    background: #410370;
    width: 100px;
    height: 30px;
    color:#fff;
    border-radius: 3px;
    margin: 10px 0;
    border: solid 2px rgb(122, 63, 204);
    font-size: 11px;
    border-bottom: solid 2px #000000;
  }
  p{
    color:black;
    border-bottom:solid 2px rgb(0, 0, 0);
    width:100px;
    display: inline-block;
  }
  #pesos{
    border-bottom:solid 2px rgb(186, 14, 14);
    background:rgb(241, 239, 239);
    box-shadow:none;
    border:none;
      border-bottom:solid 2px rgb(22, 1, 1);
  }
  #pesos:hover, #pesos:focus{
    border:none;
        border-bottom:solid 2px rgb(0, 0, 0);
  }
